/* Home.css */

/* Ensure the root container does not overflow */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  
  
}
.DeskstopHome{
  background-color: #E8E8E8;

}
.products-container {
  width: 100%;
  max-width: 3000px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
 
}

.products-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .products-title {
    font-size: 1.5rem;
  }

  .products-container {
    padding: 5px;
  }
}
