/* LoginRegister.css */
.login-register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:url(../Media/Login3.jpg);
  background-size: cover;
  
}

.login-register-wrapper .form-box {
  background-color: rgb(28, 76, 138); /* Blue background with some transparency */
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
  background: transparent;
}

.login-register-wrapper .form-box h1 {
  margin-bottom: 20px;
  color: #fff;
}

.login-register-wrapper .input-box {
  position: relative;
  margin-bottom: 20px;
}

.login-register-wrapper .input-box input {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
}

.login-register-wrapper .input-box .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.login-register-wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-register-wrapper .remember-forgot label {
  color: #fff;
}

.login-register-wrapper .remember-forgot .link-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.login-register-wrapper button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.login-register-wrapper button:hover {
  background-color: #ddd;
}

.login-register-wrapper .register-link p {
  color: #fff;
}

.login-register-wrapper .register-link .link-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

/* Hide the login form when the register form is active */
.login-register-wrapper.active .form-box.login {
  display: none;
}

/* Show the register form when it is active */
.login-register-wrapper .form-box.register {
  display: none;
}

.login-register-wrapper.active .form-box.register {
  display: block;
}
.error-message {
  color: rgb(215, 58, 58);
  font-weight: bold;
  margin-top: 10px;
}

.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
