@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

/* Style for the navbar */
.ribbon {
  background-color: rgb(2, 55, 102);
  background-size: cover;
  overflow: hidden;
  display: flex;
  gap: 250px; /* Adjust to space items between left and center */
  align-items: center; /* Center the content vertically */
  padding: 10px 20px; /* Add padding for better spacing */
  z-index: 1000; /* Ensure the navbar stays above other content */
  position: relative;
  height: 40px;
}

.ribbon h1 {
  color: white; /* Set the text color to white */
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margin */
  font-size: small;
  font-family: Lexend;
}

.ribbon a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ribbon a:hover {
 text-decoration: underline;
  color: rgb(255, 246, 246);
}

/* New styles for the left side contact info */
.navbar-left {
  display: flex;
  align-items: center;
  color: white;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icons and text */
  
}

.contact-info .icon {
  margin-right: 5px;
  color: white;
}

.vertical-line {
  margin: 0 10px;
  font-weight: bold;
  color: white; /* Ensure vertical line color matches the navbar text */
}

