/* Slider wrapper styles */
.slider-wrapper {
  width: 100vw;
  height: 80vh; /* Default height for larger screens */
  overflow: hidden;
  position: relative;
  
}

/* Image and video container styles */
.image-container, .video-container {
  width: 100%;
  height: 100%;
}

/* Full-screen image and video styles */
.full-screen-image, .full-screen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Hide the download notification */
video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust to hide controls */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .slider-wrapper {
    height: 60vh; /* Decrease height for medium screens */
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    height: 50vh; /* Decrease height for small screens */
  }
}

@media (max-width: 480px) {
  .slider-wrapper {
    height: 40vh; /* Decrease height for very small screens */
  }

  .full-screen-image, .full-screen-video {
    border-radius: 5px;
  }
}
