.products-container {
  margin-top: 20px; /* Adjust the margin to leave space for the header */
  text-align: center; /* Center the h1 text */
  
}

.products-container h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: rgb(28, 76, 138); /* Adjust the color as needed */
  margin: 10px 0;
  margin-left: 60px; /* Adjust margin to position the header correctly */
}

.text-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin if necessary */
  gap: 0px;
}

.text-box {
  margin: 10px; /* Reduced margin to fit more items in the row */
  text-align: center; /* Center text within each .text-box */
  position: relative; /* Add this to position description absolutely within the box */
  border: 3px solid black; /* Add a black border */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensure the image fits perfectly within the border */
  flex: 1 1 calc(20% - 20px); /* Flex basis to allow up to 5 items per row */
  max-width: 260px; /* Maximum width for .text-box */
  height: 200px; /* Set a fixed height for the .text-box */
}

.text-box img {
  width: 100%; /* Make image fill the width of the .text-box */
  height: 100%; /* Make image fill the height of the .text-box */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.product-description {
  position: absolute;
  bottom: 10px; /* Adjust as needed for spacing */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px; /* Adjust the font size as needed */
  color: white; /* Adjust the color as needed */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners for description background */
  font-weight: bolder;
  width: 80%; /* Adjust width as needed */
  text-align: left; /* Align text to the left */
}
