.header {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px; /* Increased padding */
}

.header img {
  height: 100px; /* Increased height */
  margin-right: 20px; /* Increased margin */
}

.header button,
.header a {
  background-color: white;
  color: rgb(28, 76, 138);
  padding: 12px 16px; /* Increased padding */
  margin-right: 10px; /* Increased margin */
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: right;
  font-size: 25px; /* Increased font size */
}

.header button:hover,
.header a:hover {
  background-color: white;
  color: rgb(28, 76, 138);
}

.header button {
  border: 1px solid rgb(28, 76, 138);
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 12px; /* Increased padding */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px; /* Increased margin */
  font-size: large; /* Increased font size */
}

.search-button {
  background-color: rgb(28, 76, 138);
  color: white;
  padding: 18px 12px; /* Increased padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large; /* Increased font size */
}
